#forecast-container {
    display: flex;
    flex-direction: column;
}
#top-container {
    display: flex;
    flex-direction: row;
}
main {
    display: flex;
    flex-direction: row;
}
#search-history {
    display: flex;
    flex-direction: column;
}
#search-panel {
    display: flex;
    flex-direction: column;
}
#five-day-forecast {
    display: flex;
    flex-direction: row;
}